/*
 * Selectors
 */

CatWindow, AddCatDialog {
    background-color: #f5f5f5;
}

QAbstractButton , QComboBox , QLabel {
    color: black;
}

QPushButton {
    border: 2px solid lightblue;
    border-radius: 5px;
}

QPushButton[class="danger"] {
    background-color: red;
}

QPushButton:hover {
    background-color: blue;
}

#header {
    font-size: 18pt;
    font-weight: bold;
}

AddCatDialog QLineEdit {
    border: 2px solid lightblue;
    color: green;
    background-color: yellow;
}